.qualified div {
  text-align: center;
}

.header {
  position: relative;
  display: flex;
  margin: -8px auto;
  flex-wrap: wrap;
  line-height: 1.6;
  background: #36353c;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1rem;
}

.header img {
  vertical-align: middle;
  border-style: none;
  height: 20px;
}

.awesome-title {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
}

.message {
  text-align: center;
  color: #828282;
  font-style: normal;
  font-size: 18px;
  margin-bottom: 1rem;
}

.icon i {
  margin-top: 40px;
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 50%;
  background: #f9edff;
  margin: 100px auto;
  line-height: 100px;
  font-size: 60px;

}