.section div {
  text-align: center;
}

.book-demo {
  font-family: Lato;
  text-align: center;
  line-height: 42px;
  font-size: 34px;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-top: -50px;
}

.header {
  position: relative;
  display: flex;
  margin: -8px;
  flex-wrap: wrap;
  line-height: 1.6;
  background: #36353c;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1rem;
}

.header img {
  vertical-align: middle;
  border-style: none;
  height: 20px;
}

.question {
  text-align: center;
  color: #828282;
  font-style: normal;
  font-family: Lato;
  font-weight: normal;
  line-height: 28px;
  width: 360px;
  margin-left: 37%;
  font-size: 16px;
}

.business label {
  /*color: black;
  float: left;
  text-align: left;
  font-style: normal;
  font-weight: bold;
  height: 22px;
  line-height: 16px;*/
  margin-bottom: 10px;
  margin-top: 0;
  font-weight: bold;
  line-height: 16px;
  font-size: 16px;
  font-family: Lato;
}


.icon-img i {
  margin-top: 40px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #f9edff;
  margin: 100px auto;
  line-height: 100px;
  font-size: 60px;
}

option {
  width: 100%;
  font-size: 18px;
}

.business input {
  background: #f3f3f3;
  width: 100%;
  height: 35px;
  padding-left: 5px;
  border: none;
  box-sizing: border-box;
  border-radius: 5px;
}

.business {
  margin-top: 15px;
  margin: 17px auto;
  height: 68px;
  width: 430px;
}

.business select {
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  height: 35px;
}

option {
  width: 425px;
  border-radius: 5px;
}

.select {
  background: rgba(189, 189, 189, 0.12);
  border-radius: 4px;
  height: 35px;
}

.radio-section {
  width: 400px;
  margin-left: 34%;
  margin-bottom: 8px;
  margin-top: 30px;
}

table {
  margin: 0%;
}

.schedule {
  color: white;
  background: #8800cc;
  display: block;
  margin: 45px auto;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  height: 45px;
  font-size: 17px;
}

button:hover {
  background: #aa00ff;
}

.input-radio {
  font-family: Lato;
  font-size: 17px;
  font-weight: bold;
  line-height: normal;
  font-style: normal;
}

.error-message {
  color: red;
  font-size: 12px;
  text-align: center;
  margin-top: 0;
  font-family: Lato;
}

.heading {
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  line-height: normal;
  color: #828282;
  font-style: normal;
}